<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/post1.css" %}">
      <link rel="stylesheet" href="{% static "css/post2.css" %}">
  </head>

  <body>

    <nav class="navbar  navbar-default navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
           <a class="navbar-brand" href="#">
              <img alt="Brand" src="{%static "images/raj.png" %}" width="160px" height="70px">
           </a>
        </div>
        <ul class=" nav navbar-nav ">
            <li><a href="/">Home</a></li>
          <li><a href="/genuine">Genuine Parts</a></li>
          <li><a href="/founder">Founder</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
             <li><a href="/signup"><button type="button" class="btn btn-default navbar-btn">SignUp</button></a></li>
             <li><a href="/accounts/login"><button type="button" class="btn btn-default navbar-btn">Login</button></a></li>
             <li><a href="/accounts/logout"><button type="button" class="btn btn-default navbar-btn">Logout</button></a></li>
             <a class="navbar-brand" href="#">
                <img alt="Brand" src="{%static "images/hero.jpg" %}" width="160px" height="70px">
             </a>
        </ul>
      </div>
    </nav>
    {%block content%}
    {%endblock%}
  </body>
</html>
