<!DOCTYPE html>
{%extends 'testapp/base.html'%}

{%block content%}
<h1 id='h1' align='center'>Raj Motors Contacts Are!!! </h1>
<h1>Mr.Bhagwat Singh Thakur::919754135384</h1>
<h1>Mr.Raj Singh Thakur::919754042250</h1>
<h1>Mr.Piyush Singh Thakur::919926737679</h1>
<h1>Gabbar Singh Thakur::917440864036</h1><br><br>
<a href="https://www.facebook.com/Raj-Motors-2371366469559649" class="btn btn-info">You Can Check Here For Latest Update</a>
<br><br>
<a href="/send_mail" class="btn btn-primary btn-success" align='center' class="mail">You Can Send Mail For Any Query</a> <hr>
{%endblock%}
