<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%load  staticfiles%}
{%block content%}
<h2>Work  In Progress</h2>
<table >
  <tr>
    <td><img src="{%static "images/DSC_2741.JPG" %}" width="250px" height="250px"></td>
      <td><img src="{%static "images/DSC_2748.JPG" %}" width="250px" height="250px"></td>
      <td><img src="{%static "images/DSC_2749.JPG" %}" width="250px" height="250px"></td>
        </tr>
    <tr>
      <td><img src="{%static "images/DSC_2760.JPG" %}" width="250px" height="250px"></td>
       <td><img src="{%static "images/DSC_2765.JPG" %}" width="250px" height="250px"></td>
    </tr>

</table>
{%endblock%}
