<!DOCTYPE html>
{%extends "testapp/base.html" %}
{%load staticfiles%}

{%block content%}
<h1 align="center">RAJ MOTORS SHOWROOM</h1>
<div class="container" >
  <table>
    <tr id="tr">
      <td>Pleasure Plus</td>
      <td><img alt="" src="{%static "images/pleasure.png"%}"></td>
      <td>Destini</td>
      <td><img alt="" src="{%static "images/destini.png"%}"></td>
      <td>Maestro</td>
      <td><img alt="" src="{%static "images/Maestro.jpg"%}"></td>
    </tr>

    <tr>
      <td>HF-Deluxe</td>
      <td><img alt="" src="{%static "images/HF-DELUXE.jpg"%}"></td>
      <td>Splender Plus</td>
      <td><img alt="" src="{%static "images/splender.jpg"%}"></td>
      <td>Passion Pro</td>
      <td><img alt="" src="{%static "images/passion.jpg"%}"></td>
    </tr>

    <tr>
      <td>Splender Ismart</td>
      <td><img alt="" src="{%static "images/ismart.jpg"%}"></td>
      <td>Glamour</td>
      <td><img alt="" src="{%static "images/glamour.jpg"%}"></td>
      <td>Super Splender</td>
      <td><img alt="" src="{%static "images/super-splender.jpg"%}"></td>
    </tr>

    <tr>
      <td>Xpulse</td>
      <td><img alt="" src="{%static "images/xpulse.png"%}"></td>
      <td>Xtreme</td>
      <td><img alt="" src="{%static "images/xtreme.jpg"%}"></td>
    </tr>
  </table>



</div>

{%endblock%}
